<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.min.js" integrity="sha512-1Jkfcq8ZUmwWGIEHdejGoqwEJp/Zx6r6BKxCpLGHZ7GqJZfYS+VD/Ti9eSlvhFkDBq6ZalxKSU9K8FQtfexe9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.css" integrity="sha512-NIcYVd9x+7QWzVOrAepi4tT6Y17n9yiq7Jzc4T6FfSXPiI/+oB1j298Hufjj+Hr/9tjz9p0mSolx/OBRVPStLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/registration.css">
<link rel="stylesheet" href="/static/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


{% with messages = get_flashed_messages() %}
{% if messages %}
        <script>
        $(document).ready(function(){
                Swal.fire({
                    title: 'Login Error',
                    text: '{{ messages[0] }}',
                    icon: 'success',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
        })

        </script>
{% endif %}
{% endwith %}
<form class="p-3 mt-3 form-group" id="ResetPasswordForm" method="POST" action="/ChangePassword/">

    <div class="form-field d-flex align-items-center">
            <span id="Passwordspan" class="fas fa-key"></span>
            <input class="" type="password" name="password" id="Password" oninput="ValidatePassword();" onblur="ValidatePassword();" data-toggle="tooltip" data-placement="right" placeholder="Password" required>
            <i toggle="#password-field" class="bi bi-eye-slash field-icon col-md-1 toggle-password"></i>
        </div>
        <div id="confirmpassworddiv" class="form-field d-flex align-items-center">
            <span id="confirmpasswordspan" class="fas fa-key"></span>
            <input type="password" class="" name="confirmpassword" oninput="Confirm();" onblur="Confirm();" data-toggle="tooltip" data-placement="right" id="confirmpassword" placeholder="Confirm Password" required>
        </div>
    <input type="text" name="code" id="code" style="display:none;">
    </div>
    <button class="btn mt-3">Submit</button>

</form>
<style>
       .tooltip-inner {
            background-color: red !important;
            /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
            color: #fff;
            border-radius:10px;
            margin-left:20px;
        }
    .tooltip.left .tooltip-arrow{

        background-color: red !important;
        }
     .field-icon {
            float: right;
            margin-left: -30px;
            position: relative;
            z-index: 2;
            color:black;
            }

</style>
<script>
$(document).ready(function(){

        const urlParams = new URLSearchParams(window.location.search);
        var code  = urlParams.get('code');
        document.getElementById("code").value = code;
        })
      $(".toggle-password").click(function () {

        $(this).toggleClass("bi bi-eye");

        var password = document.getElementById("Password");
        var cpwpassword = document.getElementById("confirmpassword");


        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);

        const ctype = cpwpassword.getAttribute('type') === 'password' ? 'text' : 'password';
        cpwpassword.setAttribute('type', ctype);

    });

      function ValidatePassword(){

        var password = document.getElementById("Password").value;
        var uppercase = /[A-Z]/;
        var lowercase = /[a-z]/;
        var number = /[0-9]/;
        var symbol = /[!@#$%^&*]/;
         if (password == "" || password == null) {
                var title = "Your password is required";
                document.getElementById("Password").style.border = 'solid';
                document.getElementById("Password").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
        }

        else if (!uppercase.test(password)) {
            var title = "Your password is missing an uppercase";
           document.getElementById("Password").style.border = 'solid';
            document.getElementById("Password").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }
        else if (!lowercase.test(password)) {

            var title = "Your password is missing a lowercase";
            document.getElementById("Password").style.border = 'solid';
            document.getElementById("Password").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }
        else if (!number.test(password)) {

            var title = "Your password is missing a number";
            document.getElementById("Password").style.border = 'solid';
            document.getElementById("Password").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }

        else if (!symbol.test(password)) {

            var title = "Your password is missing a symbol";
            document.getElementById("Password").style.border = 'solid';
            document.getElementById("Password").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }
        else if (password.length < 6) {
            var title = "Your password should have 6 or more character";
            document.getElementById("Password").style.border = 'solid';
            document.getElementById("Password").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }
         else{
        document.getElementById("Password").style.border = 'solid';
        document.getElementById("Password").style.borderColor = 'green';
        document.getElementById("Passwordspan").style.color = 'green';

        $('#Password').removeAttr('data-original-title', title);
        $('#Password').tooltip('update');
        $('#Password').tooltip('hide')
        }
    }

    function Confirm(){
        var password = document.getElementById("Password").value;
        var confirm = document.getElementById("confirmpassword").value;

        if (confirm != password) {
            var title = "Your passwords don't match";
            document.getElementById("confirmpassword").style.border = 'solid';
            document.getElementById("confirmpasswordspan").style.color = 'red';
            document.getElementById("confirmpassword").style.borderColor = 'red';

            $('#confirmpassword').attr('data-original-title', title);
            $('#confirmpassword').tooltip('update');
            $('#confirmpassword').tooltip('show', { trigger: "focus" })
        }
        else{
        document.getElementById("confirmpassword").style.border = 'solid';
        document.getElementById("confirmpassword").style.borderColor = 'green';
        document.getElementById("confirmpasswordspan").style.color = 'green';

        $('#confirmpassword').removeAttr('data-original-title', title);
        $('#confirmpassword').tooltip('update');
        $('#confirmpassword').tooltip('hide')
        }

    }

     $("#SignUp").click(function (e){
        e.preventDefault()
        var password = document.getElementById("Password").value;
        var confirm = document.getElementById("confirmpassword").value;

        var uppercase = /[A-Z]/;
        var lowercase = /[a-z]/;
        var number = /[0-9]/;
        var symbol = /[!@#$%^&*]/;
         if (password == "" || password == null) {
                var title = "Your password is required";
                document.getElementById("Password").style.border = 'solid';
                document.getElementById("Password").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }

            else if (!uppercase.test(password)) {
                var title = "Your password is missing an uppercase";
               document.getElementById("Password").style.border = 'solid';
                document.getElementById("Password").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }
            else if (!lowercase.test(password)) {

                var title = "Your password is missing a lowercase";
                document.getElementById("Password").style.border = 'solid';
                document.getElementById("Password").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }
            else if (!number.test(password)) {

                var title = "Your password is missing a number";
                document.getElementById("Password").style.border = 'solid';
                document.getElementById("Password").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }

            else if (!symbol.test(password)) {

                var title = "Your password is missing a symbol";
                document.getElementById("Password").style.border = 'solid';
                document.getElementById("Password").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }
            else if (password.length < 6) {
                var title = "Your password should have 6 or more character";
                document.getElementById("Password").style.border = 'solid';
                document.getElementById("Password").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }


            else if (confirm != password) {
                var title = "Your passwords don't match";
                document.getElementById("confirmpassword").style.border = 'solid';
                document.getElementById("confirmpasswordspan").style.color = 'red';
                document.getElementById("confirmpassword").style.borderColor = 'red';
                document.getElementById("confirmpassword").focus();

                $('#confirmpassword').attr('data-original-title', title);
                $('#confirmpassword').tooltip('update');
                $('#confirmpassword').tooltip('show', { trigger: "focus" })
            }
       else{
            $("#ResetPasswordForm").submit();

       }


    });
</script>