<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.min.js" integrity="sha512-1Jkfcq8ZUmwWGIEHdejGoqwEJp/Zx6r6BKxCpLGHZ7GqJZfYS+VD/Ti9eSlvhFkDBq6ZalxKSU9K8FQtfexe9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.css" integrity="sha512-NIcYVd9x+7QWzVOrAepi4tT6Y17n9yiq7Jzc4T6FfSXPiI/+oB1j298Hufjj+Hr/9tjz9p0mSolx/OBRVPStLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="/static/bootstrap.min.css">
    <!--Navbar -->
<style>
  /* Color of the links BEFORE scroll */
  .navbar-scroll .nav-link,
  .navbar-scroll .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #262626;
  }

  /* Color of the navbar BEFORE scroll */
  .navbar-scroll {
    background-color: #FFC017;
  }

  /* Color of the links AFTER scroll */
  .navbar-scrolled .nav-link,
  .navbar-scrolled .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #262626;
  }

  /* Color of the navbar AFTER scroll */
  .navbar-scrolled {
    background-color: #fff;
  }

  /* An optional height of the navbar AFTER scroll */
  .navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
  }
  .navbar-brand {
    font-size: unset;
    height: 3.5rem;
  }
  .navbar{
     background-color:#589fe7;
  }
  #ProIcon{
        width: 30%;
        Height: 30%;
        border-radius: 50%;
  }
  .close{
         border-radius: 50%;
         background-color:red;
         height:50%;
         weight:100%;
         color:white;
         margin-top:-150px;
  }
  #close{
            margin-top:-10px;
            }
  #modalProfile{
        border-radius: 10%;
  }

  .connect{
       color: #fff;
       border-color: #fff;
  }
  .connect:hover{
        color:#000;
        border-color: #589fe7;
        background-color:#fff;
  }
  #Results{
        border-radius:10px;
  }

  #Results_filter {
    margin-right: 15%;
    margin-top: -30px;
    margin-bottom: 40px;
}
  #TableDiv{
        margin-top:50px;
        border-color:black;
        border:solid 1px;
        margin-bottom: 20px;

    }
  .container-table{
        background-color:#fff;
        min-height:500px;
        padding: 10px;
        box-shadow: 0px 0px 10px 20px #e6e6e6;
    }
  #Results_filter{
        align-content:center;
  }

  #SubmitQuery{
        background-color:white;
        box-shadow: 2px 2px #888888;
        color:black;
        height:30px;
        max-width:100px;
        position:absolut;
        margin-top:10px;;
        border:#e6e6e6;
    }
</style>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
        <i>
            <img src="/static/images/Cidrz_new.png" style="width:90%; height:80%;">
        </i>
    </a>

    <!-- Search form -->
    <form class="input-group mx-auto" id="ipform" style="width: 60%; margin-top:8px; position:relative;" method="POST" action="/Home/">
      <input type="text" class="form-control" name="ip" oninput="IPCheck();" id="ip" placeholder="IP Address" aria-label="Search" />
      <button class="btn connect" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
        Connect
      </button>
    </form>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <!--<li class="nav-item">
          <a class="nav-link d-flex flex-column text-center" aria-current="page"  href="#"><i class="fas fa-lock fa-lg" style="color:black;"></i><span class="small" style="color:black;">Logout</span></a>
        </li>-->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex flex-column align-items-center" style="color:black;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-User fa-sm"></i>
            <span class="small" style="color:black;">Hello {{session['username']}}</span>
          </a>
          <ul class="dropdown-menu" style="background-color:#589fe7;" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" id="profile" data-toggle='modal' data-target='#modalContactForm' data-original-title='Profile'><i class="fas fa-User"></i> My profile</a></li>
            <li><a class="dropdown-item" href="/resetPassword"><i class="fas fa-key"></i> Reset Password</a></li>
            <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
      <!-- Left links -->
    </div>

    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div>

</div>
 <div class="row offset-3 col-sm-6" style="margin-top:100px;margin-bottom:40px; text-align:center;">
        <div class="col-sm-6">
            <label>Start Date:</label>
              <input type="date" name="startdate1" id="startdate1" class="form-control">
          </div>
          <div class="col-sm-6">
              <label>End Date:</label>
              <input type="date" name="enddate1" id="enddate1" class="form-control">
          </div>
    </div>
<style>

</style>
 <div class="container container-table">
{% block content %}
{% if current_user.has_role('Admin') %}

    <form id="select" method="POST" action="/Home/" enctype="multipart/form-data">
    <div class="row col-sm-12">
        <div class="query offset-2 col-sm-4">
          <div class="col-sm-12">
            <select onchange="AB();" name="value" id="queries" disabled class="form-control"  style="margin-top:10px; text-align:center;">
            <option value="" selected disabled>Select Report</option>
            <option value="ART_Appoinment">ART Appointment</option>
            <option value="Next_Appointments">ART Next Appointment</option>
            <option value="KYCS_v3">KYCS</option>
            <option value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check</Option>
            <option value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
            <option value="Tests">Test</option>
            <option value="CBS_CoAg_SaveToSqlTable">CBS CoAg SaveToSqlTable</option>
            <option value="CBS_CoAg_SaveToSqlTable_3">CBS CoAg SaveToSqlTable_2</option>
            <option value="CBS_CoAg_SaveToSqlTable_3">CBS CoAg SaveToSqlTable_3</option>
            <option value="CBS_CoAg_WIP">CBS CoAg WIP</option>
            <option value="Covid_ART_Due_List_Autodate">Covid ART Due List Autodate</option>
            <option value="MDF_Checker">MDF Checker</option>
            <option value="Paeds_ART_Appoinment">Paeds ART Appoinment</option>
            <option value="Paeds_EFV_DTG_LPVr_NVP_Optimization">Paeds EFV DTG LPVr NVP Optimization</option>
            <option value="PMTCT_FO_Aggregate">PMTCT FO Aggregate</option>
            <option value="PMTCT_STAT">PMTCT STAT</option>
            <option value="PrEP_FY22">PrEP FY22</option>
            <option value="Retention_FY21">Retention FY21</option>
            <option value="SC_Usage_At_HTS">SC Usage At HTS</option>
            <option value="SC_Usage_At_MCH">SC Usage At MCH</option>
            <option value="TLD_and_TAFED_to_TLE">TLD and TAFED to TLE</option>
            <option value="TLE_TLD_and_TafED">TLE TLD  TafED</option>
            <option value="TX_Cascade_FY22">TX Cascade FY22</option>
            <option value="TX_CURR_ARVDISP">TX CURR ARVDISP</option>
            <option value="TX_CURR_ARVDISP_3MMD_only">TX CURR ARVDISP 3MMD only</option>
            <option value="TX_CURR_ARVDISP_and_Line">TX CURR ARVDISP and Line</option>
            <option value="TX_Curr_TPT_Aggregate">TX Curr TPT Aggregate</option>
            <option value="TX_Curr_TPT_PatLvl">TX Curr TPT PatLvl</option>
            <option value="TX_PVLS_FY21">TX PVLS FY21</option>
            <option class="province" value="" selected disabled>Select Report</option>
            <option class="province" value="ART_Appoinment">ART Appointment</option>
            <option class="province" value="Next_Appointments">ART Next Appointment</option>
            <option class="province" value="KYCS_v3">KYCS</option>
            <option class="province" value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check</Option>
            <option class="province" value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
            <option class="province" value="Tests">Test</option>
            <option class="district" value="" selected disabled>Select Report</option>
            <option class="district" value="ART_Appoinment">ART Appointment</option>
            <option class="district" value="Next_Appointments">ART Next Appointment</option>
            <option class="district" value="KYCS_v3">KYCS</option>
            <option class="district" value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check</Option>
            <option class="district" value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
            <option class="province" value="Tests">Test</option><option class="province" value="" selected disabled>Select Report</option>
            <option class="national" value="ART_Appoinment">ART Appointment</option>
            <option class="national" value="Next_Appointments">ART Next Appointment</option>
            <option class="national" value="KYCS_v3">KYCS</option>
            <option class="national" value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check</Option>
            <option class="national" value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
            <option class="national" value="Tests">Test</option>
            <option class="national" value="" selected disabled>Select Report</option>
            <option class="national" value="ART_Appoinment">ART Appointment</option>
            <option class="national" value="Next_Appointments">ART Next Appointment</option>
            <option class="national" value="KYCS_v3">KYCS</option>
            <option class="national" value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check</Option>
            <option class="national" value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
            <option class="national" value="Tests">Test</option>
          </select>
          </div>
        </div>
    <div class="row col-sm-4" style="margin-top:100px;margin-left:10px; disabled:true; text-align:center; display:none;">
        <div class="col-sm-6">
            <label>Start Date</label>
              <input type="date" name="startdate" id="startdate" class="form-control">
          </div>
          <div class="col-sm-6">
              <label>End Date</label>
              <input type="date" name="enddate" id="enddate" class="form-control">
          </div>
    </div>

        <div disabled class="row col-sm-4" style="margin-top:10px;margin-left:10px; disabled:true; text-align:center;">
          <div class="col-sm-12">
            <input type="file" class="form-control" style="max-width:400px;"  id="QueryUpload"  webkitRelativePath accept=".sql" name="QueryUpload">
          </div>

        </div>
        <div class="col-sm-2">
              <input disabled class="" type="submit" id="SubmitQuery">
          </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <script>
        $(document).ready(function(){
        var dislen = document.getElementsByClassName("district");
        var prolen = document.getElementsByClassName("province");
        var natlen = document.getElementsByClassName("national");
        var i;
        var j;
        var k;
        if('{{ message }}'=='Connected'){
        document.getElementById("ipval").value = "{{ category }}";
        document.getElementById("ip").value = "{{ category }}";
                Swal.fire({
                    title: 'Server Connected',
                    text: '{{ message }}',
                    icon: 'success',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
             document.getElementById("queries").disabled=false;

        }
        else if('{{ message }}'=='error'){
               Swal.fire({
                    title: 'Server Connection Error',
                    text: '{{ category }}',
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
                 document.getElementById("queries").disabled = true;
                       {% with success = get_flashed_messages(category_filter=["ip"]) %}
                {% if success %}
                {% for message in success %}
                     document.getElementById("ipval").value = "{{ message }}";
                     document.getElementById("ip").value = "{{ message }}";
                {% endfor %}
                {% endif %}
                {% endwith %}
        }

         else if('{{ message }}'=='DatabaseError'){
               Swal.fire({
                    title: 'Database Connection Error',
                    text: '{{ category }}',
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
                document.getElementById("queries").disabled=false;
                {% with success = get_flashed_messages(category_filter=["ip"]) %}
        {% if success %}
        {% for message in success %}
             document.getElementById("ipval").value = "{{ message }}";
             document.getElementById("ip").value = "{{ message }}";
        {% endfor %}
        {% endif %}
        {% endwith %}
        }
          else{
            document.getElementById("ip").value = "{{ message }}";
            document.getElementById("ipval").value = "{{ message }}";
            document.getElementById("queries").disabled=false;
            document.getElementById("SubmitQuery").disabled=false;
          }

        if({{level}} == 1){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "none";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 2){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "diaplay";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 3){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "block";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
             for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "block";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 4){
        for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "block";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "block";
            }
             for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "block";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "block";
            document.getElementById("province").style.display = "block";
        }
        else{
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "none";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
         })


$( "#SubmitQuery" ).click(function() {
        document.getElementById('loading').style.display='block';

})
        </script>
{% endfor %}
{% endif %}
{% endwith %}

    </div>
    <input id="ipval" type="text" name="ip" style="display:none;">
</form>

{% else %}

    <form id="select" method="POST" action="/Home/" enctype="multipart/form-data">
    <div class="row col-sm-12">
        <div class="query offset-4 col-sm-4">
          <div class="col-sm-12">
            <select onchange="AB();" name="value" id="queries" disabled class="form-control"  style="margin-top:10px; text-align:center;">
            <option value="" selected disabled>Select Report</option>
            <option value="ART_Appoinment">ART Appointment</option>
            <option value="Next_Appointments">ART Next Appointment</option>
            <option value="KYCS_v3">KYCS</option>
            <option value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check</Option>
            <option value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
            <option value="Tests">Test</option>
            <option value="MDF_Checker">MDF Checker</option>
            <option value="Paeds_ART_Appoinment">Paeds ART Appoinment</option>
            <option value="PMTCT_STAT">PMTCT STAT</option>
            <option value="SC_Usage_At_MCH">SC Usage At MCH</option>
            <option value="TX_CURR_ARVDISP_and_Line">TX CURR ARVDISP and Line</option>
            <option value="TX_Curr_TPT_Aggregate">TX Curr TPT Aggregate</option>
            <option value="TX_Curr_TPT_PatLvl">TX Curr TPT PatLvl</option>
            <option value="TX_PVLS_FY21">TX PVLS FY21</option>
            <option class="province" value="" selected disabled>Select Report</option>
            <option class="province" value="ART_Appoinment">ART Appointment</option>
            <option class="province" value="Next_Appointments">ART Next Appointment</option>
            <option class="province" value="KYCS_v3">KYCS</option>
            <option class="province" value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check</Option>
            <option class="province" value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
            <option class="province" value="Tests">Test</option>
            <option class="district" value="" selected disabled>Select Report</option>
            <option class="district" value="ART_Appoinment">ART Appointment</option>
            <option class="district" value="Next_Appointments">ART Next Appointment</option>
            <option class="district" value="KYCS_v3">KYCS</option>
            <option class="district" value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check</Option>
            <option class="district" value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
            <option class="province" value="Tests">Test</option><option class="province" value="" selected disabled>Select Report</option>
            <option class="national" value="PrEP_FY22">PrEP FY22</option>
            <option class="national" value="Paeds_EFV_DTG_LPVr_NVP_Optimization">Paeds EFV DTG LPVr NVP Optimization</option>
            <option class="national" value="PMTCT_FO_Aggregate">PMTCT FO Aggregate</option>
            <option class="national" value="Retention_FY21">Retention FY21</option>
            <option class="national" value="SC_Usage_At_HTS">SC Usage At HTS</option>
            <option class="national" value="TLD_and_TAFED_to_TLE">TLD and TAFED to TLE</option>
            <option class="national" value="TLE_TLD_and_TafED">TLE TLD  TafED</option>
            <option class="national" value="TX_Cascade_FY22">TX Cascade FY22</option>
            <option class="national" value="TX_CURR_ARVDISP">TX CURR ARVDISP</option>
            <option class="national" value="TX_CURR_ARVDISP_3MMD_only">TX CURR ARVDISP 3MMD only</option>
            <option class="national" value="CBS_CoAg_SaveToSqlTable">CBS CoAg SaveToSqlTable</option>
            <option class="national" value="CBS_CoAg_SaveToSqlTable_3">CBS CoAg SaveToSqlTable_2</option>
            <option class="national" value="CBS_CoAg_SaveToSqlTable_3">CBS CoAg SaveToSqlTable_3</option>
            <option class="national" value="CBS_CoAg_WIP">CBS CoAg WIP</option>
            <option class="national" value="Covid_ART_Due_List_Autodate">Covid ART Due List Autodate</option>
          </select>
          </div>
        </div>
    <div class="row col-sm-4" style="margin-top:100px; disabled:true; text-align:center; display:none;">
        <div class="col-sm-6">
            <label>Start Date</label>
              <input type="date" name="startdate" id="startdate" class="form-control">
          </div>
          <div class="col-sm-6">
              <label>End Date</label>
              <input type="date" name="enddate" id="enddate" class="form-control">
          </div>
    </div>
        <div class="col-sm-3">
              <input disabled class="" type="submit" id="SubmitQuery">
          </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <script>
        $(document).ready(function(){
        var dislen = document.getElementsByClassName("district");
        var prolen = document.getElementsByClassName("province");
        var natlen = document.getElementsByClassName("national");
        var i;
        var j;
        var k;
        if('{{ message }}'=='Connected'){
        document.getElementById("ipval").value = "{{ category }}";
        document.getElementById("ip").value = "{{ category }}";
                Swal.fire({
                    title: 'Server Connected',
                    text: '{{ message }}',
                    icon: 'success',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
             document.getElementById("queries").disabled=false;
        }
        else if('{{ message }}'=='error'){
               Swal.fire({
                    title: 'Server Connection Error',
                    text: '{{ category }}',
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
                 document.getElementById("queries").disabled = true;
                       {% with success = get_flashed_messages(category_filter=["ip"]) %}
                {% if success %}
                {% for message in success %}
                     document.getElementById("ipval").value = "{{ message }}";
                     document.getElementById("ip").value = "{{ message }}";
                {% endfor %}
                {% endif %}
                {% endwith %}
        }

         else if('{{ message }}'=='DatabaseError'){
               Swal.fire({
                    title: 'Database Connection Error',
                    text: '{{ category }}',
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
                document.getElementById("queries").disabled=false;
                {% with success = get_flashed_messages(category_filter=["ip"]) %}
        {% if success %}
        {% for message in success %}
             document.getElementById("ipval").value = "{{ message }}";
             document.getElementById("ip").value = "{{ message }}";
        {% endfor %}
        {% endif %}
        {% endwith %}
        }
          else{
            document.getElementById("ip").value = "{{ message }}";
            document.getElementById("ipval").value = "{{ message }}";
            document.getElementById("queries").disabled=false;
             document.getElementById("SubmitQuery").disabled=false;
          }

        if({{level}} == 1){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "none";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 2){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "diaplay";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 3){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "block";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
             for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "block";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 4){
        for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "block";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "block";
            }
             for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "block";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "block";
            document.getElementById("province").style.display = "block";
        }
        else{
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "none";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
         })


$( "#SubmitQuery" ).click(function() {
        document.getElementById('loading').style.display='block';

})
        </script>
{% endfor %}
{% endif %}
{% endwith %}

    </div>

    <input id="ipval" type="text" name="ip" style="display:none;">
</form>

{%endif%}
{% endblock content %}
     <div class="col-md-12 tableDiv" id="TableDiv" style="overflow-x:auto; hight:400px; border:inset;">

            <table id="Results" class="table table-striped table-bordered" width="100%" style="font-family: tahoma !important; overflow:auto; max-width:70%;">

                        <thead class="table-head">

                        <tr>
                             {% for i in range(length) %}
                                <td>{{Header[i]}}</td>
                            {% endfor%}
                        </tr>

                        </thead>

                        <tbody>
                        {% for row in Result %}

                        <tr>
                            {% for i in range(length) %}
                                <td>{{row[i]}}</td>
                            {% endfor %}
                        </tr>

                        {% endfor %}
                        </tbody>

            </table>
         </div>
 </div>
<div class="load-cover">
<div class="offset-6 loading " id="loading" style="display:none;"></div>
    </div>
<div class="col-sm-12" style="margin-top:50px;">
<p>{{error}}</p>
</div>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content col-xs-12" id="modalProfile">
                <div class="modal-header text-center">
                    <div class="logo mt-3 col-sm-12"> <img src="/static/images/22-223910_circle-user-png-icon-transparent-png.png" id="ProIcon" alt="">
                        <div class="col-sm-12" id="username"></div>
                    </div>

                </div>

                <div class="modal-body align-content-center mx-5" id="edit">

                    <div class="md-form col-xs-6 mb-3" style="padding-top:10px;">

                        <label data-error="wrong" data-success="right" for="form29"><i class="fas fa-user prefix grey-text"> First Name: </i></label>&nbsp;
                        <label data-error="wrong" data-success="right" id="FirstName" for="form29"><i class="fas fa-user-times prefix grey-text"> </i></label>&nbsp;

                    </div>

                    <div class="md-form col-xs-6 mb-3" style="padding-top:10px;">
                        <label data-error="wrong" data-success="right" for="form34"><i class="fas fa-user prefix grey-text"> Surname: </i> </label>
                        <label data-error="wrong" data-success="right" id="LastName" for="form34"><i class="fas fa-user prefix grey-text"></i> </label>

                    </div>
                    <div class="md-form col-xs-6 mb-3" style="padding-top:10px;">
                        <label data-error="wrong" data-success="right" for="form34"><i class="fas fa-envelope prefix grey-text"> Email: </i>  </label>
                        <label data-error="wrong" data-success="right" id="email" for="form34"><i class="fas fa-user prefix grey-text"></i></label>

                    </div>

                    <div class="md-form col-xs-6 mb-3" style="padding-top:10px;">

                        <label data-error="wrong" data-success="right" for="form34"><i class="fas fa-user prefix grey-text"> Account Type: </i>  </label>
                        <label data-error="wrong" data-success="right" id="Account" for="form34"><i class="fas fa-user prefix grey-text"></i> First name</label>

                    </div>


                    <div class="md-form col-xs-6 mb-3" style="padding-top:10px;">

                        <label data-error="wrong" data-success="right" for="form29"><i class="fas fad fa-toggle-on prefix grey-text"> Account Status: </i></label>
                        <label data-error="wrong" id="Active" data-success="right" for="form29"><i class="fas fa-phone prefix grey-text"> </i></label>

                    </div>

                    <div class="md-form col-xs-12 mb-3" style="padding-top:10px;">

                        <label data-error="wrong" data-success="right" for="form29"><i class="fas fad fa-toggle-on prefix grey-text"> Email Status: </i></label>
                        <label data-error="wrong" data-success="right" id="Confirm" for="form29"><i class="fas fa-envelope prefix grey-text"> </i></label>

                    </div>
                </div>

            </div>
        </div>
    </div>
<style>

body {
  background-color: white;

}
.container-table{
    background-color:white;
    border-radius: 10px;
}
.dt-button:hover{
        background-color:#fff;
        color:#000;
        cursor: pointer;
}
.dt-button{
        background-color:#589fe7;
        box-shadow: 2px 2px #888888;
        border:none;
}
.dt-buttons{
        margin-right: 50%;
        margin-top:20px;
}
#TableDiv{
    margin-top:30px;
    text-align:center
}
.table-head{
    background-color:#589fe7;
}
.load-cover{
  position: absolute;
  top: 70%;
  left: 50%;

}
.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  box-shadow:
    0 -3em rgba(255, 255, 255, 1),
    2.25em -2.25em rgba(255, 255, 255, 0.875),
    3em 0 rgba(255, 255, 255, 0.75),
    2.25em 2.25em rgba(255, 255, 255, 0.625),
    0 3em rgba(255, 255, 255, 0.5),
    -2.25em 2.25em rgba(255, 255, 255, 0.375),
    -3em 0 rgba(255, 255, 255, 0.25),
    -2.25em -2.25em rgba(255, 255, 255, 0.125)
    ;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(-360deg) }
}
</style>

<script type='text/javascript'>
    $(document).ready(function() {

        $('#Results').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });
        if("{{ Query }}" != 'None')
        {
            document.getElementById("queries").value = "{{ Query }}";
        }
    })

</script>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
{% for category, message in messages %}
        <script>
        $(document).ready(function(){
        var dislen = document.getElementsByClassName("district");
        var prolen = document.getElementsByClassName("province");
        var natlen = document.getElementsByClassName("national");
        var i;
        var j;
        var k;
        if('{{ message }}'=='Connected'){
        document.getElementById("ipval").value = "{{ category }}";
        document.getElementById("ip").value = "{{ category }}";
                Swal.fire({
                    title: 'Server Connected',
                    text: '{{ message }}',
                    icon: 'success',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
             document.getElementById("queries").disabled=false;
        }
        else if('{{ message }}'=='error'){
               Swal.fire({
                    title: 'Server Connection Error',
                    text: '{{ category }}',
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
                 document.getElementById("queries").disabled = true;
                       {% with success = get_flashed_messages(category_filter=["ip"]) %}
                {% if success %}
                {% for message in success %}
                     document.getElementById("ipval").value = "{{ message }}";
                     document.getElementById("ip").value = "{{ message }}";
                {% endfor %}
                {% endif %}
                {% endwith %}
        }

         else if('{{ message }}'=='DatabaseError'){
               Swal.fire({
                    title: 'Database Connection Error',
                    text: '{{ category }}',
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
                document.getElementById("queries").disabled=false;
                {% with success = get_flashed_messages(category_filter=["ip"]) %}
        {% if success %}
        {% for message in success %}
             document.getElementById("ipval").value = "{{ message }}";
             document.getElementById("ip").value = "{{ message }}";
        {% endfor %}
        {% endif %}
        {% endwith %}
        }
          else{
            document.getElementById("ip").value = "{{ message }}";
            document.getElementById("ipval").value = "{{ message }}";
            document.getElementById("queries").disabled=false;
          }

        if({{level}} == 1){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "none";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 2){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "diaplay";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 3){
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "block";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
             for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "block";
            document.getElementById("province").style.display = "none";
        }
        else if({{level}} == 4){
        for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "block";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "block";
            }
             for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "block";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "block";
            document.getElementById("province").style.display = "block";
        }
        else{
            for(i=0; i < dislen.length; i++)
            {
                dislen[i].style.display = "none";
            }
            for(j=0; j < prolen.length; j++)
            {
                prolen[j].style.display = "none";
            }
            for(k=0; k < natlen.length; k++)
            {
                natlen[k].style.display = "none";
            }
            document.getElementById("facility").style.display = "block";
            document.getElementById("district").style.display = "none";
            document.getElementById("province").style.display = "none";
        }
         })
        </script>
{% endfor %}
{% endif %}
{% endwith %}

<script>
function AB(){
    document.getElementById("select").submit();
    }

    function IPCheck(){

        var ip = document.getElementById("ip").value;
        let ipv4_regex = /^(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}$/gm;
        if(ip.match(ipv4_regex)){
                document.getElementById("ip").style.borderColor ="green";
            }
        else{
                document.getElementById("ip").style.borderColor ="red";
            }
    }

$('#ipform').submit(function (evt) {
    evt.preventDefault();
        var ip = document.getElementById("ip").value;
        let ipv4_regex = /^(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}$/gm;
        if(ip.match(ipv4_regex)){
                document.getElementById("ipform").submit();
            }
        else{
                  Swal.fire({
                    title: 'Invalid IP Address',
                    text: 'Please enter a valid IP Address',
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
            }

});
$( "#profile" ).click(function() {
    var email = '{{session['username']}}'
    $.ajax({
            type: "GET",
            url : "{{url_for('Profile')}}",
            data: { 'email': email },
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {

            },
            success: function (data) {
            console.log(data)
                $.each(data, function (i) {
                     document.getElementById('FirstName').innerHTML = data[1];
                     document.getElementById('LastName').innerHTML = data[2];
                     document.getElementById('email').innerHTML = data[3];
                     document.getElementById('username').innerHTML = data[3];
                     document.getElementById('Account').innerHTML = data[4];
                     if(data[5]== true){
                     document.getElementById('Active').innerHTML = "Activated";
                     }
                     else{
                            document.getElementById('Active').innerHTML = "Not Activated";
                            }
                     if(data[6]== true){
                            document.getElementById('Confirm').innerHTML = "Confirmed";
                     }
                     else{
                            document.getElementById('Confirm').innerHTML = "Not Confirmed";
                            }

                    })
                },
            complete: function (data) {
                $("#loader-wrapper").hide();

            },

         })
 })


$( "#startdate1" ).change(function() {
    var date = document.getElementById('startdate1').value;
    document.getElementById('startdate').value = date;
})
$( "#enddate1" ).change(function() {
    var date = document.getElementById('enddate1').value;
    document.getElementById('enddate').value = date;
})

$( "#queries" ).change(function() {
        document.getElementById('loading').style.display='block';

})

$(document).ready(function(){
    if('{{GetStartDate}}' != 'None' && '{{GetStartDate}}' != "")
    {
        var date = '{{GetStartDate}}';
        document.getElementById('startdate').value = date;
        document.getElementById('startdate1').value = date;

    }
     if('{{GetEndDate}}' != 'None' && '{{GetEndDate}}' != "")
    {
        var date = '{{GetEndDate}}';
        document.getElementById('enddate').value = date;
        document.getElementById('enddate1').value = date;

    }

})
</script>

