<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.min.js" integrity="sha512-1Jkfcq8ZUmwWGIEHdejGoqwEJp/Zx6r6BKxCpLGHZ7GqJZfYS+VD/Ti9eSlvhFkDBq6ZalxKSU9K8FQtfexe9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.css" integrity="sha512-NIcYVd9x+7QWzVOrAepi4tT6Y17n9yiq7Jzc4T6FfSXPiI/+oB1j298Hufjj+Hr/9tjz9p0mSolx/OBRVPStLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/registration.css">
<link rel="stylesheet" href="/static/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<style>
    .login{
        height: 40px;
        background-color: #03A9F4;
        color: #fff;
        border:none;
        letter-spacing: 1.3px;
        index: z;

    }
    .login:hover{
        border: solid;
    }
    .register{
        height: 40px;
        background-color: #03A9F4;
        color: #fff;
        border:none;
        letter-spacing: 1.3px;
        index: z;
        max-width: 50%;
        width: 50%;
        margin-left: -6;
    }
    .register:hover{
        border: solid;
    }
    .div{
        max-width: 150%;
        width: 114.1%;
        margin-left: -30;
        margin-top: -40;
    }
    .tooltip-inner {
            background-color: red !important;
            /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
            color: #fff;
            border-radius:10px;
            margin-left:20px;
        }
    .tooltip.left .tooltip-arrow{

        background-color: red !important;
        }

    .field-icon {
        float: right;
        margin-left: -50px;
        position: relative;
        z-index: 2;
        color:black;
        }
</style>
<body>
<div class="wrapper" id="log">

    <div class="div">
        <input type="button" value="Login" class="login col-sm-6">
         <input type="button" onclick="RegisterShow();" value="Register" class="register col-sm-6">
    </div>

    <div class="logo mt-3"> <img src="/static/images/22-223910_circle-user-png-icon-transparent-png.png" alt=""> </div>
    <div class="text-center mt-4 name"> SmartCare DExT </div>
    <form class="p-3 mt-3" method="POST" action="/login/">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" data-toggle="tooltip" data-placement="left" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="logpwd" placeholder="Password">
            <i toggle="#password-field" class="bi bi-eye-slash show field-icon col-md-1"></i>
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6"> <a href="/resetPassword/">Forgot password?</a> </div>
</div>


<div class="wrapper" id="reg" style="display:none;">
     <div class="div">
        <input type="button" onclick="LoginShow();" value="Login" class="login col-sm-6">
         <input type="button"  value="Register" class="register col-sm-6">
    </div>

    <div class="logo mt-3"> <img src="/static/images/22-223910_circle-user-png-icon-transparent-png.png" alt=""> </div>
    <div class="text-center mt-4 name"> SmartCare DExT </div>
    <form class="p-3 mt-3" method="POST" action="/register" id="RegistrationForm">
        <div class="col-sm-12">
        <div class="form-field col-sm-12 d-flex align-items-center" id="namediv">
            <span class="fas fa-user" id="namespan"></span>
            <input type="text" name="FirstName" oninput="ValidateFName();" onblur="ValidateFName();" data-toggle="tooltip" data-placement="right" id="FirstName" placeholder="First Name" required>
        </div>
        </div>
        <div id="surnamediv" class="form-field d-flex align-items-center">
            <span id="surnamespan" class="fas fa-user"></span>
            <input type="text" name="LastName" id="LastName" oninput="ValidateLName();" onblur="ValidateLName();" data-toggle="tooltip" data-placement="right" placeholder="Surname" required>
        </div>
        <div id="emaildiv" class="form-field d-flex align-items-center">
            <span id="emailspan" class="fas fa-envelope"></span>
            <input type="text" name="email" id="email" oninput="ValidateEmail();" onblur="ValidateEmail();" data-toggle="tooltip" data-placement="right" placeholder="email" required>
        </div>
        <div id="Passworddiv" class="form-field d-flex align-items-center">
            <span id="Passwordspan" class="fas fa-key"></span>
            <input type="password" name="password" id="Password" oninput="ValidatePassword();" onblur="ValidatePassword();" data-toggle="tooltip" data-placement="right" placeholder="Password" required>
            <i toggle="#password-field" class="bi bi-eye-slash field-icon col-md-1 toggle-password"></i>
        </div>
        <div id="confirmpassworddiv" class="form-field d-flex align-items-center">
            <span id="confirmpasswordspan" class="fas fa-key"></span>
            <input type="password" name="confirmpassword" oninput="Confirm();" onblur="Confirm();" data-toggle="tooltip" data-placement="right" id="confirmpassword" placeholder="Confirm Password" required>
        </div>
        <input type="button" id="SignUp" value="Sign Up" class="btn mt-3">
    </form>

</div>
</body>
 {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
{% for category, message in messages %}
        <script>
        $(document).ready(function(){
                document.getElementById("userName").value = "{{ category }}";
                Swal.fire({
                    title: 'Login Error',
                    text: '{{ message }}',
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
        })

        </script>
{% endfor %}
{% endif %}
{% endwith %}
<script>
$(document).ready(function(){

        const urlParams = new URLSearchParams(window.location.search);
        var error  = urlParams.get('error');
        var name  = urlParams.get('name');
        var surname  = urlParams.get('surname');
        var email  = urlParams.get('email');

        if(error != "" && error != null){

            if(error == 'success'){

            document.getElementById("reg").style.display= "block";
            document.getElementById("log").style.display= "none";
                Swal.fire({
                    title: 'Registration Successful',
                    text: 'Your account has been registered successfully, check your email for confirmation',
                    icon: 'success',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })

            }
            else{
            document.getElementById("reg").style.display= "block";
            document.getElementById("log").style.display= "none";
                Swal.fire({
                    title: 'Registration Error',
                    text: error,
                    icon: 'error',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })

                document.getElementById("FirstName").value = name;
                document.getElementById("LastName").value = surname;
                document.getElementById("email").value = email;
            }

        }
        else{


        }
    });

    $(".toggle-password").click(function () {

        $(this).toggleClass("bi bi-eye");

        var password = document.getElementById("Password");
        var cpwpassword = document.getElementById("confirmpassword");


        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);

        const ctype = cpwpassword.getAttribute('type') === 'password' ? 'text' : 'password';
        cpwpassword.setAttribute('type', ctype);

    });

    $(".show").click(function () {

        $(this).toggleClass("bi bi-eye");

        var password = document.getElementById("logpwd");
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);

    });

    function RegisterShow(){
        document.getElementById("reg").style.display= "block";
        document.getElementById("log").style.display= "none";
    }
     function LoginShow(){
        document.getElementById("reg").style.display= "none";
        document.getElementById("log").style.display= "block";
    }


    function ValidateFName(){
        var Name = document.getElementById("FirstName").value;
        var letters = /^[A-Za-z]+$/;
        if (Name == "" || Name == null) {
                var title = "Your name is required!";
                document.getElementById("namediv").style.border = 'solid';
                document.getElementById("namediv").style.borderColor = 'red';
                document.getElementById("namespan").style.color = 'red';
                $('#FirstName').attr('data-original-title', title);
                $('#FirstName').tooltip('update');
                $('#FirstName').tooltip('show', { trigger: "focus" })
        }
        else if (!Name.match(letters)) {

            var title = "User letters only!";
            document.getElementById("namediv").style.border = 'solid';
            document.getElementById("namediv").style.borderColor = 'red';
            document.getElementById("namespan").style.color = 'red';
            $('#FirstName').attr('data-original-title', title);
            $('#FirstName').tooltip('update');
            $('#FirstName').tooltip('show', { trigger: "focus" })

        }
        else if (Name.length < 3) {
            var title = "Your name should have 3 characters or more!";

            document.getElementById("namediv").style.border = 'solid';
            document.getElementById("namediv").style.borderColor = 'red';
            document.getElementById("namespan").style.color = 'red';
            $('#FirstName').attr('data-original-title', title);
            $('#FirstName').tooltip('update');
            $('#FirstName').tooltip('show', { trigger: "focus" })
        }
        else{
            document.getElementById("namediv").style.border = 'solid';
            document.getElementById("namediv").style.borderColor = 'green';
            document.getElementById("namespan").style.color = 'green';

            $('#FirstName').removeAttr('data-original-title', title);
            $('#FirstName').tooltip('update');
            $('#FirstName').tooltip('hide')
        }

    }

    function ValidateLName(){

        var Surname = document.getElementById("LastName").value;
        var letters = /^[A-Za-z]+$/;
        if (Surname == "" || Surname == null) {

                var title = "Your Surname is required!";
                document.getElementById("surnamediv").style.border = 'solid';
                document.getElementById("surnamediv").style.borderColor = 'red';
                document.getElementById("surnamespan").style.color = 'red';
                $('#LastName').attr('data-original-title', title);
                $('#LastName').tooltip('update');
                $('#LastName').tooltip('show', { trigger: "focus" })
            }
            else if (!Surname.match(letters)) {

                var title = "Use letters only";
                document.getElementById("surnamediv").style.border = 'solid';
                document.getElementById("surnamediv").style.borderColor = 'red';
                document.getElementById("surnamespan").style.color = 'red';
                $('#LastName').attr('data-original-title', title);
                $('#LastName').tooltip('update');
                $('#LastName').tooltip('show', { trigger: "focus" })
            }
            else if (Surname.length < 3) {

                var title = "Your surname should have 3 characters or more";
                document.getElementById("surnamediv").style.border = 'solid';
                document.getElementById("surnamediv").style.borderColor = 'red';
                document.getElementById("surnamespan").style.color = 'red';
                $('#LastName').attr('data-original-title', title);
                $('#LastName').tooltip('update');
                $('#LastName').tooltip('show', { trigger: "focus" })
            }
        else{
            document.getElementById("surnamediv").style.border = 'solid';
            document.getElementById("surnamediv").style.borderColor = 'green';
            document.getElementById("surnamespan").style.color = 'green';

            $('#LastName').removeAttr('data-original-title', title);
            $('#LastName').tooltip('update');
            $('#LastName').tooltip('hide')
        }

    }

    function ValidateEmail(){
        var email = document.getElementById("email").value;
        var mail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (email == "" || email == null) {

            var title = "Your email is required";
            document.getElementById("emaildiv").style.border = 'solid';
            document.getElementById("emaildiv").style.borderColor = 'red';
            document.getElementById("emailspan").style.color = 'red';
            $('#email').attr('data-original-title', title);
            $('#email').tooltip('update');
            $('#email').tooltip('show', { trigger: "focus" })

        }

        else if (!email.match(mail)) {
            var title = "Use a valid email id eg 'example@gmail.com'";
            document.getElementById("emaildiv").style.border = 'solid';
            document.getElementById("emaildiv").style.borderColor = 'red';
            document.getElementById("emailspan").style.color = 'red';
            $('#email').attr('data-original-title', title);
            $('#email').tooltip('update');
            $('#email').tooltip('show', { trigger: "focus" })

        }
         else{
            document.getElementById("emaildiv").style.border = 'solid';
            document.getElementById("emaildiv").style.borderColor = 'green';
            document.getElementById("emailspan").style.color = 'green';

            $('#email').removeAttr('data-original-title', title);
            $('#email').tooltip('update');
            $('#email').tooltip('hide')
        }
    }

    function ValidatePassword(){

        var password = document.getElementById("Password").value;
        var uppercase = /[A-Z]/;
        var lowercase = /[a-z]/;
        var number = /[0-9]/;
        var symbol = /[!@#$%^&*]/;
         if (password == "" || password == null) {
                var title = "Your password is required";
                document.getElementById("Passworddiv").style.border = 'solid';
                document.getElementById("Passworddiv").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
        }

        else if (!uppercase.test(password)) {
            var title = "Your password is missing an uppercase";
           document.getElementById("Passworddiv").style.border = 'solid';
            document.getElementById("Passworddiv").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }
        else if (!lowercase.test(password)) {

            var title = "Your password is missing a lowercase";
            document.getElementById("Passworddiv").style.border = 'solid';
            document.getElementById("Passworddiv").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }
        else if (!number.test(password)) {

            var title = "Your password is missing a number";
            document.getElementById("Passworddiv").style.border = 'solid';
            document.getElementById("Passworddiv").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }

        else if (!symbol.test(password)) {

            var title = "Your password is missing a symbol";
            document.getElementById("Passworddiv").style.border = 'solid';
            document.getElementById("Passworddiv").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }
        else if (password.length < 6) {
            var title = "Your password should have 6 or more character";
            document.getElementById("Passworddiv").style.border = 'solid';
            document.getElementById("Passworddiv").style.borderColor = 'red';
            document.getElementById("Passwordspan").style.color = 'red';
            $('#Password').attr('data-original-title', title);
            $('#Password').tooltip('update');
            $('#Password').tooltip('show', { trigger: "focus" })
        }
         else{
        document.getElementById("Passworddiv").style.border = 'solid';
        document.getElementById("Passworddiv").style.borderColor = 'green';
        document.getElementById("Passwordspan").style.color = 'green';

        $('#Password').removeAttr('data-original-title', title);
        $('#Password').tooltip('update');
        $('#Password').tooltip('hide')
        }
    }

    function Confirm(){
        var password = document.getElementById("Password").value;
        var confirm = document.getElementById("confirmpassword").value;

        if (confirm != password) {
            var title = "Your passwords don't match";
            document.getElementById("confirmpassworddiv").style.border = 'solid';
            document.getElementById("confirmpasswordspan").style.color = 'red';
            document.getElementById("confirmpassworddiv").style.borderColor = 'red';

            $('#confirmpassword').attr('data-original-title', title);
            $('#confirmpassword').tooltip('update');
            $('#confirmpassword').tooltip('show', { trigger: "focus" })
        }
        else{
        document.getElementById("confirmpassworddiv").style.border = 'solid';
        document.getElementById("confirmpassworddiv").style.borderColor = 'green';
        document.getElementById("confirmpasswordspan").style.color = 'green';

        $('#confirmpassword').removeAttr('data-original-title', title);
        $('#confirmpassword').tooltip('update');
        $('#confirmpassword').tooltip('hide')
        }

    }

    $("#SignUp").click(function (e){
        e.preventDefault()
        var Name = document.getElementById("FirstName").value;
        var Surname = document.getElementById("LastName").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("Password").value;
        var confirm = document.getElementById("confirmpassword").value;
        var letters = /^[A-Za-z]+$/;
        var mail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        var uppercase = /[A-Z]/;
        var lowercase = /[a-z]/;
        var number = /[0-9]/;
        var symbol = /[!@#$%^&*]/;



            if (Name == "" || Name == null) {
                var title = "Your name is required!";
                document.getElementById("namediv").style.border = 'solid';
                document.getElementById("namediv").style.borderColor = 'red';
                document.getElementById("namespan").style.color = 'red';
                document.getElementById("FirstName").focus();
                $('#FirstName').attr('data-original-title', title);
                $('#FirstName').tooltip('update');
                $('#FirstName').tooltip('show', { trigger: "focus" })
            }
            else if (!Name.match(letters)) {

                var title = "User letters only!";
                document.getElementById("namediv").style.border = 'solid';
                document.getElementById("namediv").style.borderColor = 'red';
                document.getElementById("namespan").style.color = 'red';
                document.getElementById("FirstName").focus();
                $('#FirstName').attr('data-original-title', title);
                $('#FirstName').tooltip('update');
                $('#FirstName').tooltip('show', { trigger: "focus" })

            }
            else if (Name.length < 3) {
                var title = "Your name should have 3 characters or more!";

                document.getElementById("namediv").style.border = 'solid';
                document.getElementById("namediv").style.borderColor = 'red';
                document.getElementById("namespan").style.color = 'red';
                document.getElementById("FirstName").focus();
                $('#FirstName').attr('data-original-title', title);
                $('#FirstName').tooltip('update');
                $('#FirstName').tooltip('show', { trigger: "focus" })
            }

            else if (Surname == "" || Surname == null) {

                var title = "Your Surname is required!";
                document.getElementById("surnamediv").style.border = 'solid';
                document.getElementById("surnamediv").style.borderColor = 'red';
                document.getElementById("surnamespan").style.color = 'red';
                document.getElementById("LastName").focus();
                $('#LastName').attr('data-original-title', title);
                $('#LastName').tooltip('update');
                $('#LastName').tooltip('show', { trigger: "focus" })
            }
            else if (!Surname.match(letters)) {

                var title = "Use letters only";
                document.getElementById("surnamediv").style.border = 'solid';
                document.getElementById("surnamediv").style.borderColor = 'red';
                document.getElementById("surnamespan").style.color = 'red';
                document.getElementById("LastName").focus();
                $('#LastName').attr('data-original-title', title);
                $('#LastName').tooltip('update');
                $('#LastName').tooltip('show', { trigger: "focus" })
            }
            else if (Surname.length < 3) {

                var title = "Your surname should have 3 characters or more";
                document.getElementById("surnamediv").style.border = 'solid';
                document.getElementById("surnamediv").style.borderColor = 'red';
                document.getElementById("surnamespan").style.color = 'red';
                document.getElementById("LastName").focus();
                $('#LastName').attr('data-original-title', title);
                $('#LastName').tooltip('update');
                $('#LastName').tooltip('show', { trigger: "focus" })
            }


            else if (email == "" || email == null) {

                var title = "Your email is required";
                document.getElementById("emaildiv").style.border = 'solid';
                document.getElementById("emaildiv").style.borderColor = 'red';
                document.getElementById("emailspan").style.color = 'red';
                document.getElementById("email").focus();
                $('#email').attr('data-original-title', title);
                $('#email').tooltip('update');
                $('#email').tooltip('show', { trigger: "focus" })

            }

            else if (!email.match(mail)) {
                var title = "Use a valid email id eg 'example@gmail.com'";
                document.getElementById("emaildiv").style.border = 'solid';
                document.getElementById("emaildiv").style.borderColor = 'red';
                document.getElementById("emailspan").style.color = 'red';
                document.getElementById("email").focus();
                $('#email').attr('data-original-title', title);
                $('#email').tooltip('update');
                $('#email').tooltip('show', { trigger: "focus" })

            }

            else if (password == "" || password == null) {
                var title = "Your password is required";
                document.getElementById("Passworddiv").style.border = 'solid';
                document.getElementById("Passworddiv").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }

            else if (!uppercase.test(password)) {
                var title = "Your password is missing an uppercase";
               document.getElementById("Passworddiv").style.border = 'solid';
                document.getElementById("Passworddiv").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }
            else if (!lowercase.test(password)) {

                var title = "Your password is missing a lowercase";
                document.getElementById("Passworddiv").style.border = 'solid';
                document.getElementById("Passworddiv").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }
            else if (!number.test(password)) {

                var title = "Your password is missing a number";
                document.getElementById("Passworddiv").style.border = 'solid';
                document.getElementById("Passworddiv").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }

            else if (!symbol.test(password)) {

                var title = "Your password is missing a symbol";
                document.getElementById("Passworddiv").style.border = 'solid';
                document.getElementById("Passworddiv").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }
            else if (password.length < 6) {
                var title = "Your password should have 6 or more character";
                document.getElementById("Passworddiv").style.border = 'solid';
                document.getElementById("Passworddiv").style.borderColor = 'red';
                document.getElementById("Passwordspan").style.color = 'red';
                document.getElementById("Password").focus();
                $('#Password').attr('data-original-title', title);
                $('#Password').tooltip('update');
                $('#Password').tooltip('show', { trigger: "focus" })
            }


            else if (confirm != password) {
                var title = "Your passwords don't match";
                document.getElementById("confirmpassworddiv").style.border = 'solid';
                document.getElementById("confirmpasswordspan").style.color = 'red';
                document.getElementById("confirmpassworddiv").style.borderColor = 'red';
                document.getElementById("confirmpassword").focus();

                $('#confirmpassword').attr('data-original-title', title);
                $('#confirmpassword').tooltip('update');
                $('#confirmpassword').tooltip('show', { trigger: "focus" })
            }
       else{
            $("#RegistrationForm").submit();
       }


    });

</script>