<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.min.js" integrity="sha512-1Jkfcq8ZUmwWGIEHdejGoqwEJp/Zx6r6BKxCpLGHZ7GqJZfYS+VD/Ti9eSlvhFkDBq6ZalxKSU9K8FQtfexe9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.css" integrity="sha512-NIcYVd9x+7QWzVOrAepi4tT6Y17n9yiq7Jzc4T6FfSXPiI/+oB1j298Hufjj+Hr/9tjz9p0mSolx/OBRVPStLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="/static/bootstrap.min.css">
    <!--Navbar -->
<style>
  /* Color of the links BEFORE scroll */
  .navbar-scroll .nav-link,
  .navbar-scroll .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #262626;
  }

  /* Color of the navbar BEFORE scroll */
  .navbar-scroll {
    background-color: #FFC017;
  }

  /* Color of the links AFTER scroll */
  .navbar-scrolled .nav-link,
  .navbar-scrolled .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #262626;
  }

  /* Color of the navbar AFTER scroll */
  .navbar-scrolled {
    background-color: #fff;
  }

  /* An optional height of the navbar AFTER scroll */
  .navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
  }
  .navbar-brand {
    font-size: unset;
    height: 3.5rem;
  }
  .navbar{
     background-color:#589fe7;
  }
</style>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><i style="color:black;" class="fab fa-stripe-s fa-2x"></i></a>
    <!-- Search form -->
    <form class="input-group mx-auto" id="ipform" style="width: 600px; position:relative;" method="POST" action="/connect/">
      <input type="text" class="form-control" name="ip" id="ip" placeholder="IP Address" aria-label="Search" />
      <button class="btn btn-outline-primary" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
        Connect
      </button>
    </form>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <!--<li class="nav-item">
          <a class="nav-link d-flex flex-column text-center" aria-current="page"  href="#"><i class="fas fa-lock fa-lg" style="color:black;"></i><span class="small" style="color:black;">Logout</span></a>
        </li>-->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex flex-column align-items-center" style="color:black;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-User fa-lg"></i>
            <span class="small" style="color:black;">Account</span>
          </a>
          <ul class="dropdown-menu" style="background-color:#589fe7;" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#"><i class="fas fa-User"></i> My profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-Cog"></i> Settings</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
      <!-- Left links -->
    </div>

    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div>

</div>
<form id="select" method="POST" action="/connect/">
    <div class="query offset-4 col-sm-4">
      <select onchange="AB();" name="value" id="queries" disabled class="form-control" style="margin-top:100px; text-align:center;" >
        <option value="">Select Query you Wish To Run</option>
        <option value="ART_Appoinment">ART Appointment</option>
        <option value="Next_Appointments">ART Next Appointment</option>
        <option value="KYCS_v3">KYCS</option>
        <option value="MandE_DQMIS_PharmacyCrossCheck">M&E DQMIS Pharmacy Cross Check/Option>
        <option value="ART_Attendance_vs_Patient_Locator_Update">ART Attendance vs Patient Locator Update</option>
        <option value="Tests">Test</option>
      </select>
    </div>
    <input id="ipval" type="text" name="ip" style="display:none;">
</form>
<style>
    #TableDiv{
        margin-top:50px;
    }
</style>
 <div class="container container-table">
     <div class="col-md-12 tableDiv" id="TableDiv" style="overflow-x:auto; hight:400px;">
            <table id="Results" class="table table-striped table-bordered" width="100%" style="font-family: tahoma !important; overflow:auto; max-width:70%;">

                        <thead class="table-head">

                        <tr>
                             {% for i in range(length) %}
                                <td>{{Header[i]}}</td>
                            {% endfor%}
                        </tr>

                        </thead>

                        <tbody>
                        {% for row in Result %}

                        <tr>
                            {% for i in range(length) %}
                                <td>{{row[i]}}</td>
                            {% endfor %}
                        </tr>

                        {% endfor %}
                        </tbody>

            </table>
         </div>
 </div>
<div class="load-cover">
<div class="offset-6 loading " id="loading" style="display:none;"></div>
    </div>
<div class="col-sm-12" style="margin-top:50px;">

</div>
<style>

body {
  background-color: #e6e6e6;

}
.container-table{
    background-color:white;
}
#TableDiv{
    margin-top:30px;
}
.table-head{
    background-color:#589fe7;
}
.load-cover{
  position: absolute;
  top: 50%;
  left: 50%;

}
.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  box-shadow:
    0 -3em rgba(255, 255, 255, 1),
    2.25em -2.25em rgba(255, 255, 255, 0.875),
    3em 0 rgba(255, 255, 255, 0.75),
    2.25em 2.25em rgba(255, 255, 255, 0.625),
    0 3em rgba(255, 255, 255, 0.5),
    -2.25em 2.25em rgba(255, 255, 255, 0.375),
    -3em 0 rgba(255, 255, 255, 0.25),
    -2.25em -2.25em rgba(255, 255, 255, 0.125)
    ;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(-360deg) }
}
</style>

<script type='text/javascript'>
    $(document).ready(function() {

        $('#Results').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });

        document.getElementById("queries").value = "{{ Query }}";
    })

</script>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
{% for category, message in messages %}
        <script>
        $(document).ready(function(){
        if('{{ message }}'=='Connected'){
        document.getElementById("ipval").value = "{{ category }}";
        document.getElementById("ip").value = "{{ category }}";
                Swal.fire({
                    title: 'Server Connected',
                    text: '{{ message }}',
                    icon: 'success',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })

        }
          else{
            document.getElementById("ip").value = "{{ message }}";
            document.getElementById("ipval").value = "{{ message }}";
          }
          document.getElementById("queries").disabled=false;
         })
        </script>
{% endfor %}
{% endif %}
{% endwith %}

<script>
function AB(){
    document.getElementById("select").submit();
    }
</script>