<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.min.js" integrity="sha512-1Jkfcq8ZUmwWGIEHdejGoqwEJp/Zx6r6BKxCpLGHZ7GqJZfYS+VD/Ti9eSlvhFkDBq6ZalxKSU9K8FQtfexe9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.css" integrity="sha512-NIcYVd9x+7QWzVOrAepi4tT6Y17n9yiq7Jzc4T6FfSXPiI/+oB1j298Hufjj+Hr/9tjz9p0mSolx/OBRVPStLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/registration.css">
<link rel="stylesheet" href="/static/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<style>
body{
        background-color:#589fe7;
}
.submit:hover{
        background-color:#589fe7;
        border-color:#fff;
}
</style>
{% with messages = get_flashed_messages() %}
{% if messages %}
        <script>
        $(document).ready(function(){
                Swal.fire({
                    title: 'Login Error',
                    text: '{{ messages[0] }}',
                    icon: 'info',
                    confirmButtonColor: '#64b2b6',
                    showCancelButton: false,
                    cancelButtonColor: '#d33',
                })
        })

        </script>
{% endif %}
{% endwith %}

<form class="p-3 mt-3 form-group" method="POST" action="/resetPassword/">

    <div class="col-sm-4 offset-4" style="text-align:center;">
        <input class="form-control col-sm-3 mt-3" type="text" name="email" placeholder="email" required>
        <button style="border-color:black; background-color:#fff;" id="submit;" class="btn mt-3 submit">Submit</button>
    </div>
</form>
